# Code analysis
flake8==7.0.0
flake8-docstrings==1.7.0
flake8-polyfill==1.0.2
pylint==3.1.0

# Code style
black==24.4.0

# Documentation
pdoc3
graphviz==0.20.3

# Unit test and coverage
coverage==7.4.4

# Interface design
colorama==0.4.6
cowsay==6.1
termcolor==2.4.0
pyfiglet==1.0.2
